<%-include("partials/header")-%>

<div class="container about-page">
  <div class="row">
    <div class="col-lg-6 photo-container">
      <img src="images/idPhoto.jpg" alt="" class="id-photo">
    </div>
    <div class="col-lg-6 about-heading">
      <h2 class="about-content">MEET <span class="setareh">SETAREH</span></h2>
      <hr class="about-hr">
      <p class="about-content">
        I am a fourth year undergraduate student at UCLA pursing my bachelors degree
        in Cognitive Science with a Specialization in Computing. I have taken 4 programming classes at my university 
        and I have also interned at a startup company as a Mobile Developer for 10 months. 
        I am not only interested in web development, but I am also interested in research, specifically the overlap between websites and psychology. 
        I am currently part of a research lab where I hope do conduct my own research and I am also working as a Web Developer for an
        organization at my school.
        <br />
        <br />
        My hobbies include soccer, reading,
        and, of course, coding. I am the youngest of three by a few minutes (we
        are triplets). I work great in teams and independently. I am very responsible
        and always complete my work.
        <br />
        <br />
        Please don't hesitate to contact me with any opportunities. Thanks.
      </p>
    </div>
  </div>

</div>

<img src="images/1.png" alt="" class="about-page-blob">
<img src="images/1.png" alt="" class="about-page-blob2">
<img src="images/3.png" alt="" class="about-page-blob3">


</div>

<%-include("partials/footer")-%>
