<%-include("partials/header")-%>

<div class="container about-page">
  <div class="row">
    <div class="col-lg-6 photo-container">
      <img src="images/idPhotoPro.jpg" alt="" class="id-photo">
    </div>
    <div class="col-lg-6 about-heading">
      <h2 class="about-content">MEET <span class="setareh">SETAREH</span></h2>
      <hr class="about-hr">
      <p class="about-content">
        I am currently pursing a Masters degree in Software Engineering at the University 
        of California, Irvine. While I pursue my Masters degree I will be working part-time 
        at a startup company called Indago. Through this position I am looking to expand my 
        knowledge and gain experience as a Frontend Developer and I am looking forward to 
        learning new skills and gaining experience that will help me in my future in the 
        technology industry.
        <br />
        <br />
        My hobbies include soccer, reading,
        and, of course, coding. I am the youngest of three by a few minutes (we
        are triplets). I work great in teams and independently. I am very responsible
        and always complete my work.
        <br />
        <br />
        Please don't hesitate to contact me with any opportunities. Thanks.
      </p>
    </div>
  </div>

</div>

<img src="images/1.png" alt="" class="about-page-blob">
<img src="images/1.png" alt="" class="about-page-blob2">
<img src="images/3.png" alt="" class="about-page-blob3">


</div>

<%-include("partials/footer")-%>
