<%-include("partials/header")-%>
<div class="wrapper contactPage">

<div class="contactInfo">
  <h2 class="contactHeading">Contact Me</h2>
  <hr class="contactInfoLine">
  <p>Email: setareh.khoylow@gmail.com</p>
  <!-- <p>Phone: (310) 651-4962</p> -->
</div>

<img src="images/1.png" alt="" class="contactPageBlob">
<img src="images/3.png" alt="" class="contactPageBlob2">

</div>
<%# <i class="fas fa-phone fa-2x"></i>  %>
<%# <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> %>


<%# images below here %>

<%-include("partials/footer")-%>
