<%-include("partials/header")-%>
<div class="wrapper contactPage">

<div class="contact-info">
  <h2 class="contact-heading">Contact Me</h2>
  <hr class="contact-info-hr">
  <p>Email: setareh.khoylow@gmail.com</p>
  <!-- <p>Phone: (310) 651-4962</p> -->
</div>

<img src="images/1.png" alt="" class="contact-page-blob">

</div>
<%# <i class="fas fa-phone fa-2x"></i>  %>
<%# <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> %>


<%# images below here %>

<%-include("partials/footer")-%>
