<%-include("partials/header")-%>

<div class="container page">

  <h1 class="myName">Setareh <br>Khoylow</h1>
  <hr class="line">
  <p class="position">FULL STACK WEB DEVELOPER</p>

</div>
<img src="images/1.png" alt="" class="homePageBlob">
<img src="images/2.png" alt="" class="homePageBlob2">


<%-include("partials/footer")-%>
