<%-include("partials/header")-%>

<div class="container page">

  <h1 class="my-name">Setareh <br>Khoylow</h1>
  <hr class="line">
  <p class="position">FULL STACK WEB DEVELOPER</p>

  <img src="images/1.png" alt="" class="home-page-blob">
  <img src="images/2.png" alt="" class="home-page-blob2">

</div>


<%-include("partials/footer")-%>
