<%-include("partials/header")-%>

<div class="wrapper projectPage">
  <h2 class="projectsHeading">Projects and Awards</h2>
  <hr class="projectLine">
  <div class="container projectsInfo">
    <div class="row">
      <div class="col-lg-6">
        <h3>Khoylow Realty Project</h3>
        <p class="projectDescription">
          Completed a Real Estate webpage that involved both front and back-end skills.
          For the front-end used HTML, CSS, Bootstrap, and JavaScript. The back-end
          involved the use of Node.js to retrieve the files from a server. I used MongoDB
          to store the property information. I also use Google Maps API to display the
          locations of the properties. Before I deployed my website I moved my local
          database to MongoDB Atlas. Once that was done I luanched my web app using Heroku.
        </p>
        <a href="https://khoylow-realty.herokuapp.com/" target="_blank"><i>Project Link</i></a>
      </div>
      <div class="col-lg-6">
        <h3>Online Web Development Certificate</h3>
        <p class="projectDescription">
          This certificate demonstrates my completion of an online web development
          course. Learned HTML, CSS, JavaScript and many more front-end skills. Also learned
          Node.js, Express.js, templating, SQL and NoSQL Databases, APIs, and React.js. Completed
          many projects to solidify what I was taught from the videos and I also worked on projects outside of
          the course to gain more experience.
        </p>
        <a href="images/WebDevelopmentCertificate.jpg" target="_blank">Certificate</a>
      </div>
    </div>
    <img src="images/1.png" alt="" class="projectPageBlob">
    <img src="images/3.png" alt="" class="projectPageBlob2">
</div>


<%-include("partials/footer")-%>
