<%-include("partials/header")-%>

<div class="project-page">
  <h2 class="projects-heading">Projects and Awards</h2>
  <hr class="project-hr">
  <div class="container project-info">
    <div class="row">
      <div class="col-lg-6 project">
        <h3>Khoylow Realty Project</h3>
        <p class="project-description">
          Completed a Real Estate webpage that involved both front and back-end skills.
          For the front-end used HTML, CSS, Bootstrap, and JavaScript. The back-end
          involved the use of Node.js to retrieve the files from a server. I used MongoDB
          to store the property information. I also use Google Maps API to display the
          locations of the properties. Before I deployed my website I moved my local
          database to MongoDB Atlas. 
        </p>
        <a href="https://skhoylow8.github.io/Real-Estate-Website/index.html" target="_blank"><i>Project Link</i></a>
      </div>
      <div class="col-lg-6 project">
        <h3>Inward Bias Experiment</h3>
        <p class="project-description">
          This project was created to conduct a research experiment to determine if there is a 
          relationship between levels of inward bias and autistic traits in a person. For this project I
          used HTML, CSS, jQuery, and JavaScript. This project taught me how important it is to pay
          attention to small details to make sure the experiment is as controlled as possible. It 
          also showed me a different application for websites. Websites aren't only for displaying
          information, but it can also be used to conduct official psychology experiments.
        </p>
        <a href="https://skhoylow8.github.io/inward-bias-autistic-traits-experiment/?sonacode=1234" target="_blank">Project Link</a>
      </div>
    </div>
  </div>
  <img src="images/1.png" alt="" class="project-page-blob">
  <img src="images/3.png" alt="" class="project-page-blob2">
</div>


<%-include("partials/footer")-%>
